@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

:root {
  color-scheme: dark;
}

.hide-scrollbar {
  scrollbar-width: none !important;
  -webkit-scrollbar: none !important;
  -ms-overflow-style: none !important;
  -webkit-overflow-scrolling: touch;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
